        @font-face {
            font-family: 'Helvetica';
            src: url('/fonte/Helvetica-Light.woff2') format('woff2'),
                url('/fonte/Helvetica-Light.woff') format('woff');
            font-weight: 300;
            font-style: normal;
        }

        @font-face {
            font-family: 'caviar_dreamsregular';
            src: url('/fonte/caviardreams-webfont.woff2') format('woff2'),
                url('/fonte/caviardreams-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;

        }

        @font-face {
            font-family: 'caviar_dreamsregular';
            src: url('/fonte/caviardreams_bold-webfont.woff2') format('woff2'),
                url('/fonte/caviardreams_bold-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;

        }


        * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }


        body {
            margin: 0;
            font-family: 'caviar_dreamsregular', sans-serif;
            font-weight: 300;
            color: #fff;
            background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 49), rgb(0, 0, 0));

        }

        .hide {
            display: none;
            visibility: hidden;
        }

        img {
            width: 100%;

        }

        #landing_splash {
            height: 100vh;
            width: 100%;
            animation: 2s clip_kf ease-out both 0.6s;


        }

        .logo {
            background-image: url(img/landing.svg);
            background-size: cover;
            height: 100vh;


        }

        #open {
            position: absolute;
            bottom: 120px;
            left: 80px;
            width: 200px;
            height: 80px;
            background: none;
            border: 0;
            font-family: 'caviar_dreamsbold', sans-serif;
            font-weight: normal;
            font-style: normal;
            /*            opacity: 0;*/
            font-size: 2rem;
            /*            animation: 0.4s zoom_kf ease-out both 1s;*/


        }

        #open:hover {
            transform: scale(1.9);
        }

        button {
            animation: 2s zoom_kf ease-out both 2s;
        }

        /*            opacity: 1;*/

        @keyframes zoom_kf {

            0% {

                transform: scale(1);
            }

            50% {
                transform: scale(1.2);

            }

            100% {
                transform: scale(1);
            }
        }


        @keyframes clip_kf {

            0% {
                clip-path: polygon(0% 75%, 100% 75%, 100% 0%, 0% 0%);


            }

            100% {

                clip-path: polygon(0% 85%, 100% 85%, 100% 0%, 0% 0%);


            }
        }




        section span {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

        }

        ul,
        li {
            padding: 0;
            margin: 0;
            /*            font-family: 'caviar_dreamsregular', sans-serif;*/
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        a:visited,
        a:active,
        a:link {
            color: #fff;

        }

        p {
            margin: 0;

        }

        .grid p {
            margin: 0;
            padding: 0;
            /*            font-family: 'caviar_dreamsregular', sans-serif;*/
            text-decoration: none;
            font-size: 1rem;
            font-weight: 300;
        }

        input {
            width: 400px;
            height: 80px;
            font-size: 2.5rem;
            font-weight: 800
        }

        #frm1::before {
            content: "$";
            color: #fff;
            font-size: 4rem;

        }

        #menuknap {
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 2rem;

        }


        #menu h1 {

            font-size: 1.7rem;
            margin: 0;
            text-transform: uppercase;
            text-align: center;
            font-weight: 400;
            padding: 0 4rem;

        }


        #menu li {
            font-size: 1.3rem;
            list-style-type: none;

        }

        #menu p {

            font-size: 1rem;
            font-weight: 600;
            -webkit-filter: drop-shadow(1px -1px 1px rgb(255, 216, 50, 0.7));
            filter: drop-shadow(1px -1px 1px rgb(255, 216, 50, 0.7));
        }

        nav {

            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: center;
            position: relative;

        }

        nav img {
            margin: 20px;
            width: 30vw;

        }


        #message b {
            /*            font-family: 'Helvetica', sans-serif;*/
            font-size: 20px;
            margin: 40px 30px 20px 40px;
            font-weight: 300;
            /*            font-style: italic;*/
        }

        #wrapper {
            margin: 10px;
            /*            height: 160vw;*/

        }

        .grid {

            display: grid;
            grid-template-columns: 45vw 45vw;
            grid-template-rows: 30vw 30vw 30vw;
            grid-gap: 5px;
            justify-content: center;
            margin: 0 5px;
            /*            padding: 10px 20px 10px 20px;*/

        }

        .grid_2 {

            display: grid;
            grid-template-columns: 45vw 45vw;
            grid-template-rows: 30vw 30vw 30vw;
            grid-gap: 5px;
            justify-content: center;
            margin: 0 5px;
            /*            padding: 10px 20px 10px 20px;*/

        }

        .gradient::before,
        .box::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            border: 3px solid;
            border-image-source: linear-gradient(0deg, rgb(255, 236, 0), rgba(255, 237, 0, 0.35), rgba(0, 0, 0, 0));
            border-image-slice: 1;
        }



        .box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            position: relative;
            -ms-flex-preferred-size: 300px;
            flex-basis: 300px;
            border-radius: 15px;
            cursor: pointer;
            transition: 0.9s;

        }

        .box:hover {
            transform: scale(1.04);

        }

        .gradient {
            border: 10px solid #000;

        }

        /*
            border-width: 3px;
            border-style: solid;
            border-image:
                linear-gradient(to top,
                    red,
                    rgba(0, 0, 0, 0)) 1 100%;

*/

        .box p {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            color: #fff;
            /*            font-family: arial, sans-serif;*/
            padding: 10px;
            font-size: 1.5rem;

        }

        .box:nth-child(6) {
            justify-content: center;
            align-content: flex-end;

        }

        .other {
            font-weight: 300;
            margin: 0;
            padding: 10px;

        }

        .buttonBox {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            /*            position: relative;*/
            -ms-flex-preferred-size: 200px;
            flex-basis: 200px;
            margin: 40px 23px;
            bottom: 0;


        }


        button {
            text-transform: uppercase;
            font-size: 1rem;
            padding: 10px 10px 10px 10px;
            margin: 4px;
            color: #fff;
            border: 10px solid #000000;
            background: 0;
            border-radius: 14px;
            position: relative;
            font-family: 'caviar_dreamsregular', sans-serif;
            font-weight: 900;

        }


        .back::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            border: 2px solid;
            border-image-source: linear-gradient(45deg, rgb(255, 241, 163), rgb(255, 219, 0));
            border-image-slice: 1;

        }


        .cancel::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            border: 2px solid;
            border-image-source: linear-gradient(45deg, rgb(116, 0, 0), rgb(255, 0, 0));
            border-image-slice: 1;

        }

        footer {
            position: relative;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: linear-gradient(0deg, rgb(0, 0, 0), rgb(0, 0, 69));
            margin: 0 0 1px 0;
            padding: 10px 30px 20px 30px;
            font-size: 0.8rem;

        }

        footer ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        footer li {
            text-align: center;
        }


        footer img {
            width: 30px;
        }

        li .invert {
            filter: invert(1);
        }



        /*
        .buttonBox_security {

            display: -webkit-box;

            display: -ms-flexbox;

            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
                        padding: 0 20px;
        }

        .buttonBox_security .back {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-line-pack: top;
            align-content: flex-start;
            text-align: left;
            font-size: 2.3rem;
            padding: 40px 100px 0px 0px;
            text-transform: capitalize;
            -ms-flex-line-pack: start;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
        }
*/



        /*
        .buttonBox_amount {

            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;

        }
*/



        /*********************** BUY PAGE *****************************/





        /*********************** BUY PAGE *****************************/






        @media only screen and (min-width: 880px) {

            main {
                display: flex;
                justify-content: center;
                align-items: center;
                /*
                width: 100vw;
                height: 100vh;
*/
            }

            nav img {

                width: 60px;
            }

            #menuknap {
                position: absolute;
                right: 20px;
                top: 20px;
                font-size: 2rem;
                display: hidden;
                visibility: hidden;

            }


            #landing_splash {
                height: 100vw;
                background-size: cover;
                width: 41vw;
                background-position: center;
                display: flex;
                justify-content: center;
            }

            .logo {
                background-image: url(img/MTA_Logo.svg);
                height: 41vw;
                background-size: cover;
                width: 37vw;
            }


            #open {
                position: absolute;
                bottom: 1vw;
                left: 45%;
                width: 200px;
                height: 50px;
                background: none;
                border: 2px solid #fff;
                margin: 0 auto;

            }

            .hidden {
                display: block;
            }



            .grid {
                display: grid;
                grid-template-columns: 22vw 22vw;
                grid-template-rows: 12vw 12vw 12vw;
                grid-gap: 20px;
                max-width: 800px;
                padding: 10px 20px 10px 20px;

            }

            .grid_2 {
                display: grid;
                grid-template-columns: 22vw 22vw 22vw;
                grid-template-rows: 12vw 12vw;
                grid-gap: 20px;
                /*                max-width: 800px;*/
                padding: 10px 20px 10px 20px;

            }

            h1 {
                margin: 2rem;
                font-size: 3rem;
            }

            nav {
                padding: 0;
                margin: 0;

            }

            .security {

                position: relative;
                top: 120px;
            }




            .buttonBox_security {

                display: -webkit-box;

                display: -ms-flexbox;

                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-around;
                padding: 0;
                margin: 0 100px;
            }

            .buttonBox_security .back {
                padding: 40px 100px 0px 0px;
                text-transform: capitalize;
                -ms-flex-line-pack: start;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;

            }


            footer {
                display: none;

            }




            .spin {

                animation-name: spin_kf;
                animation-duration: 1.3s;
                animation-timing-function: ease-out;

            }

            @keyframes spin_kf {

                0% {
                    transform: rotate(0) scale(0);

                }

                90% {

                    transform: rotate(1100deg) scale(1);
                }

                100% {

                    transform: rotate(1080deg) scale(1);
                }
            }


            .fade {

                animation-name: fade_kf;
                animation-duration: 1.3s;
                animation-delay: 0.3s;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;

            }

            @keyframes fade_kf {

                0% {
                    opacity: 0;

                }

                100% {

                    opacity: 1;
                }
            }




        }
